{
  "229ff1b8104ff6d49c67c25b01d823011b97e7a0": {
    "msg": "❗️ Так як ви зайшли з мого сайту, я вже додав в ваш акаунт свій ключ від Deepgram щоб ви зразу могли користуватись без потреби створювати власний. Запишіть якесь голосове і відправте боту)))",
    "user": {
      "permissions": ["create_audio_prompt", "change_settings"],
      "set_dg_key": "..."
    }
  }
}
